.TopSection{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
}
.MiddleSection{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
    padding-top: 20px;
}

.MiddleSection h2{
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
    color: #727272;
}

.BottomSection{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;
}

.SideMenu{
    margin-top: 56px;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }