.Videos{
    margin-top: 56px;
    background-color: #F9F9F9;
    overflow-y: scroll;
    height: calc(100vh - 60px);
    
}

.Videos > h1 {
    margin: 0;
}

.Section{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

.Videos__Topics{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #E5E5E5;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%
}

.Videos__Topics h3{
    background-color: #F2F2F2;
    padding: 10px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 3rem;
    border: 1px solid #D9D9D9;
    font-weight: 400;
    font-size: 15px;
}

.Videos__Stack{
    margin-top: 70px
}

